/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  position: relative;
  min-height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

#main {
  padding-bottom: 165px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 40, 40, 0.9);
}
#header .logo {
  font-size: 28px;
  font-family: "Pacifico", cursive;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.7);
}
#header .non-index .logo {
  color: black;
}
#header .logo a {
  color: #fff;
}
#header .logo img {
  max-height: 100px;
}
@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 15px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  margin: 0 12px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 3px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.non-index .navbar a,
.non-index .navbar a:focus {
  color: black;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #009961;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #fff;
}
.non-index .navbar li:hover > a {
  color: black;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-top: 2px solid #009961;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #282828;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #009961;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.non-index .mobile-nav-toggle {
  color: black;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(15, 15, 15, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #282828;
}
.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #009961;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #009961;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  padding-top: 72px;
  position: relative;
  text-align: center;
}
#hero h1 {
  margin: 0 0 50px 0;
  font-size: 72px;
  font-weight: 800;
  line-height: 57px;
  color: #fff;
}
#hero h3 {
  color: #eee;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}
#hero p {
  color: #eee;
  font-size: 18px;
}
#hero .book-title {
  font-style: italic;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 20px 0px 20px 0px;
  overflow: hidden;
}
.section-bg {
  background-color: #8fffd6;
}
.section-title {
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.section-title h1 {
  font-size: 50px;
  font-weight: bold;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009961;
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
  color: #777777;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
#page-title {
  padding: 80px 0px 20px 0px;
  overflow: hidden;
}
.page-title {
  padding: 100px 0px 0px 0px;
  text-align: center;
}
.page-title h1 {
  font-size: 50px;
  font-weight: bold;
  position: relative;
}

/*--------------------------------------------------------------
# Index
--------------------------------------------------------------*/
.index .index-page-content {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
  padding: 55px 0px 50px 0px;
}
.index .info-text {
  padding: 0px 20px 0px 20px;
  margin: 10px 0px 10px 0px;
}
.index .info-text p {
  font-size: 18px;
  color: #848484;
  padding: 0px;
  margin: 0px;
}
.index .image {
  display: flex;
  margin: 20px 0px 20px 0px;
  justify-content: center;
}
.index .image img {
  display: flex;
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .info-text p {
  font-size: 18px;
  color: #848484;
  padding: 0px;
  margin: 0px;
}
.about .image {
  display: flex;
  margin: 20px 0px 20px 0px;
  justify-content: center;
}
.about .image img {
  object-fit: contain;
  overflow: hidden;
}
.about .author-image img {
  width: 100%;
}
.about .about-page-content {
  font-size: 18px;
  color: black;
  margin: 0px;
  padding: 50px 0px 50px 0px;
}
.about-books-i-love .card {
  padding: 0px;
}
.about-books-i-love .row {
  justify-content: center;
}
.about-podcasts-i-love .card {
  padding: 0px;
}
.about-podcasts-i-love .row {
  justify-content: center;
}
/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  background: #009961;
  color: #fff;
  border-radius: 50px;
}
.button:hover {
  background: #00b371;
}
@media (min-width: 769px) {
  .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# cards
--------------------------------------------------------------*/
.card {
  box-sizing: border-box;
  width: 150px;
  display: inline-block;
  margin: 1rem;
  /* border-radius: 4px; */
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.card:hover,
.card.hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* .card:hover .card-content,
.card.hover .card-content {
  box-shadow: inset 0 3px 0 0 #ccb65e;
  border-color: #ccb65e;
} */

.card:hover .card-img .overlay,
.card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, 0.85);
  transition: opacity 0.2s ease;
  opacity: 1;
}

.card-img {
  position: relative;
  height: 220px;
  width: 148px;
  background-color: #fff;
  transition: opacity 0.2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}
.card-img .overlay .overlay-content {
  line-height: 224px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}
.card-img .overlay .overlay-content a:hover,
.card-img .overlay .overlay-content a.hover {
  background: #ccb65e;
  border-color: #ccb65e;
}
.card-content {
  width: 100%;
  min-height: 65px;
  background-color: #fff;
  /* border-top: 1px solid #e9e9eb; */
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px 5px;
  transition: all 0.2s ease;
}
.card-content a {
  text-decoration: none;
  color: #202927;
}
.card-content h2,
a h2 {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 32px;
  color: #009961;
  float: left;
  line-height: 1;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #282828;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #5b5b5b;
}
.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .sent-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #009961;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #009961;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #00b371;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.contact p {
  text-align: center;
}

.contact .row {
  justify-content: center;
}

/*--------------------------------------------------------------
# Press
--------------------------------------------------------------*/
.press .row {
  justify-content: center;
}
.press .card {
  width: 100%;
  margin: 0px;
}
.press .card .card-img {
  width: 100%;
}
.press .card-content h2 {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.press .card-content p {
  text-align: left;
}
.card-img-book-cover {
  background-size: contain;
}

/*--------------------------------------------------------------
# lets-become-strangers
--------------------------------------------------------------*/
.lets-become-strangers .row {
  justify-content: center;
}
.lets-become-strangers .card {
  width: 100%;
  margin: 0px;
}
.lets-become-strangers .card .card-img {
  width: 100%;
}
.lets-become-strangers .card-content h2 {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.lets-become-strangers .card-content p {
  text-align: left;
}
.card-img-book-cover {
  background-size: contain;
}

/*--------------------------------------------------------------
# books-and-publications
--------------------------------------------------------------*/
.books-and-publications .info-text p {
  font-size: 18px;
  color: #848484;
  padding: 0px;
  margin: 0px;
}
.books-and-publications .image {
  display: flex;
  margin: 20px 0px 20px 0px;
  justify-content: center;
}
.books-and-publications .image img {
  object-fit: contain;
  overflow: hidden;
}
.books-and-publications .author-image img {
  width: 100%;
}
.books-and-publications .books-and-publications-page-content {
  font-size: 18px;
  color: black;
  margin: 0px;
  padding: 50px 0px 50px 0px;
}
.books-and-publications-books-i-love .card {
  padding: 0px;
}
.books-and-publications-books-i-love .row {
  justify-content: center;
}
.books-and-publications-podcasts-i-love .card {
  padding: 0px;
}
.books-and-publications-podcasts-i-love .row {
  justify-content: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0f0f0f;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 165px;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
  display: flex;
  justify-content: center;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #009961;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #00b371;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}
#footer .credits a {
  color: #00b371;
  transition: 0.3s;
}
#footer .credits a:hover {
  color: #009961;
}
